---

---

<footer class="mt-auto border-t border-border-subtle">
  <div
    class="max-w-[1200px] mx-auto px-8 py-8 flex items-center justify-center"
  >
    <p class="text-sm text-text-tertiary text-center">
      Open Source under MIT License. Sandcaster 2024.
    </p>
  </div>
</footer>
