---
---

<div class="bg-bg-base border border-border-subtle rounded-md p-4 font-mono text-sm text-text-secondary">
	<div class="flex flex-row gap-2 mb-4 pb-2 border-b border-border-subtle">
		<div class="w-[10px] h-[10px] rounded-full bg-border-hover"></div>
		<div class="w-[10px] h-[10px] rounded-full bg-border-hover"></div>
		<div class="w-[10px] h-[10px] rounded-full bg-border-hover"></div>
	</div>
	<slot />
</div>
